<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}

{{.AcaYear}}


{{.Spring.Term}}
{{range .Spring.Courses}}
{{.Number}} - {{.Name}} - {{.Units }}
{{end}}

{{.Fall.Term}}
{{range .Fall.Courses}}
{{.Number}} - {{.Name}} - {{.Units }}
{{end}}

{{.Summer.Term}}
{{range .Summer.Courses}}
{{.Number}} - {{.Name}} - {{.Units }}
{{end}}


{{end}}

</body>
</html>